body{
    height: 100vh;
    display: flex;
    margin: 0;
    
}


.right, .left{
    min-height: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.quote, .bottom{
    background-color: whitesmoke;
    flex: 1
}

.form{
    flex: 1
}

div.quote{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 50px;
}

p.quote{
    font-weight: 900;
    font-size: 32px;
    
}

p.quote:nth-child(2){
    margin-top: 0;
    padding-top: 0;
}

p.quote:nth-child(1){
    margin-bottom: 0;
    padding-bottom: 0;
}

div.form{
    padding-left: 50px;
}

h2{
    color: gray
}

form{
    display: flex;
    min-height: 100%;
    
}

.container{
    display: flex;
    flex-direction: column
}

div.form-right, div.form-left{
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: 50%
    
}

label{
    font-weight: 600;
}

input{
    max-width: 50%;
}