body{
    height: 100vh;
    display: flex;
    margin: 0;
    
}


.right, .left{
    min-height: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.quote, .bottom{
    background-color: whitesmoke;
    flex: 1
}



div.quote{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 50px;
}

p.quote, h2{
    font-weight: 900;
    font-size: 32px;
    
}

p.quote:nth-child(2){
    margin-top: 0;
    padding-top: 0;
}

p.quote:nth-child(1){
    margin-bottom: 0;
    padding-bottom: 0;
}

/* mid right styling */

div.form{
    padding-left: 50px;
    flex: 1;
    

}

form{
    display: flex;
    align-items: center;
    padding-top: 30px;
    
}

.container{
    display: flex;
    flex-direction: column
}

div.form-right, div.form-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 50%
    
}

label{
    font-weight: 600;
}

input{
    max-width: 50%;
    height: 20px;
}

/* bottom left styling */

.bottom{
    padding-top: 30px;
    box-shadow: inset 0 4px 0px 0px lightgray;
    padding-left: 50px;
}